.image-container {
    width: 600px;
    height: 300px;
    margin: auto;
    border: 2px solid #3a3a3c;
    border-radius: 15px;

    /* To center the image vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: auto;
}

.information-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: large;
}