.validation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.digit-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.digit-box {
    width: 52px;
    height: 52px;
    border: 2px solid #3a3a3c;
    border-radius: 5px;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.digit-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.digit-buttons-container button {
    touch-action: manipulation;
    width: 70px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #818384;
    border: #00000000;
    border-radius: 10px;
    color: aliceblue;
}

.action-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.action-buttons-container button {
    touch-action: manipulation;
    width: 300px;
    height: 50px;
    margin: 0 5px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: #818384;
    border: #00000000;
    border-radius: 10px;
    color: aliceblue;
}

@media screen and (max-width: 600px) {
    .digit-box {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .digit-buttons-container button {
        padding: 0px;
        width: calc((100% - (9 * 4px)) / 9);
        margin: 0 2px;
        font-size: 20px;
    }
}
